// Place all the styles related to the csv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: bordar-box;
}

.header1 {
  width: 100%;
  height: 70px;
  background-color: #00BFFF;
}

.header2 {
  width: 100%;
  height: 40px;
  background-color: #E0FFFF;
}

.header3 {
  width: 100%;
  height: 90px;
  background-color: #87CEEB;
}