// Place all the styles related to the tr_contact_history controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: bordar-box;
}

.header1 {
  width: 100%;
  height: 70px;
  background-color: #00BFFF;
}

.header2 {
  width: 100%;
  height: 40px;
  background-color: #E0FFFF;
}

.header3 {
  width: 100%;
  height: 90px;
  background-color: #87CEEB;
}

.main {
  display: block;
  margin: 10px 0px 0px 20px;
}

.cp_ipselect {
  overflow: hidden;
  width: 12%;
  text-align: center;
  margin-left: 17px;
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 80%;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
  position: relative;
  border: 1px solid black;
  border-radius: 2px;
  background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: 0.8em;
  right: 0.5em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
  padding: 8px 38px 8px 8px;
}

.btn-square {
  display: inline-block;
  padding: 6px 44px 6px 44px;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 25px;
  font-size: 15px;
  margin: 20px 0px 0px 0px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}