<h1>社員名を選択し、連絡ボタンを押下してください</h1>

<div>
  <p>連絡年月日 : <%= @today %></p>
</div>

<div>
  <p>社員名：<%= select_tag :staff_id, options_from_collection_for_select(MsHiriseStaff.all, :staff_no, :staff_name) %>
  </p>
</div>